<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Binária</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <div class="box">
            <h1>Calculadora Binária</h1>
            <form action="/calcular" method="post">
                <label for="num1">1° Número</label>
                <input type="text" name="num1" id="num1" required>

                <label for="num2">2° Número</label>
                <input type="text" name="num2" id="num2" required>

                <label for="operacao">Operação</label>
                <select name="operacao" id="operacao">
                    <option value="soma">Soma</option>
                    <option value="subtracao">Subtração</option>
                    <option value="multiplicacao">Multiplicação</option>
                </select>
                <br>
                <button type="submit">Calcular</button>
                <label id="resultado">Resultado: {{ resultado }}</label>
            </form>
        </div>
    </main>
</body>
</html>
